.notification-item {
  width: 100%;
}

.notification-item-link {
  text-decoration: none;
}

.notification-item-title,
.notification-item-message,
.notification-item-time {
  word-break: break-word;
}

.notification-item-icon-wrapper,
.notification-item-icon,
.notification-item-unread-dot,
.notification-item-delete-icon {
  flex-shrink: 0;
}

.notification-item-delete-button {
  border: none;
  background: transparent;
  cursor: pointer;
}