.kanban-board {
  width: 100%;
}

.kanban-column {
  min-width: 20rem;
}

.kanban-column-title,
.kanban-column-count {
  word-break: break-word;
}

.kanban-column-add-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.kanban-column-status-dot,
.kanban-column-add-icon,
.kanban-task-wrapper {
  flex-shrink: 0;
}